/* App.css */
/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  padding: 20px;
}


h2 {
  font-size: 24px;
  font-weight: bold;
  color: #a94b67; /* Spotify green color */
  margin-bottom: 20px;
}
